.sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  // z-index: 1;
  top: 0;
  left: 0;
  background-color: #0d1117;
  transition: 0.5s ease;
  overflow-x: hidden;
  // padding: 2vh 3vw;
  color: white;

  ul {
    padding: 0;
    width: 100%;
    height: auto;
    li {
      list-style: none;
      width: 100%;
      height: 60px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
    :hover {
      cursor: pointer;
      background-color: #384455;
    }
  }
}

#active {
  background-color: #384455;
}

.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.title {
  flex: 70%;
}

.SherkGrid {
  padding: 0;
  width: 100%;
  height: 9vh;
  color: rgb(120, 218, 120);
  width: 100%;
  // height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#sherkTitle {
  flex: 70%;
  padding: 0;
  width: 100%;
  height: auto;
}
